body{
    background-color: rgba(155, 155, 155, 0.78);
    
}

.box-area{
    width: 1000px;
}

.left-background-color{
    background-color: #103cbe;
    /* margin-right: 2px; */
}

a{
    text-decoration: none;
    font-size: 18px;
    margin-left: 10px;
    color: red;
    font-weight: 600;

}

small{
    display: none;  
}



